doctype html
html(lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office")
  head
    title
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    style.
      * {
        box-sizing: border-box;
      }
      body {
        margin: 0;
        padding: 0;
      }
      a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: inherit !important;
      }
      #MessageViewBody a {
        color: inherit;
        text-decoration: none;
      }
      p {
        line-height: inherit
      }
      .desktop_hide,
      .desktop_hide table {
        mso-hide: all;
        display: none;
        max-height: 0px;
        overflow: hidden;
      }
      .image_block img+div {
        display: none;
      }
      sup,
      sub {
        line-height: 0;
        font-size: 75%;
      }
      @media (max-width:620px) {
        .desktop_hide table.icons-inner,
        .social_block.desktop_hide .social-table {
          display: inline-block !important;
        }
        .icons-inner {
          text-align: center;
        }
        .icons-inner td {
          margin: 0 auto;
        }
        .image_block div.fullWidth {
          max-width: 100% !important;
        }
        .mobile_hide {
          display: none;
        }
        .row-content {
          width: 100% !important;
        }
        .stack .column {
          width: 100%;
          display: block;
        }
        .mobile_hide {
          min-height: 0;
          max-height: 0;
          max-width: 0;
          overflow: hidden;
          font-size: 0px;
        }
        .desktop_hide,
        .desktop_hide table {
          display: table !important;
          max-height: none !important;
        }
      }
body.body(style="background-color: #FFFFFF; margin: 0; padding: 0; -webkit-text-size-adjust: none; text-size-adjust: none;")
  table.nl-container(width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #FFFFFF;")
    tbody
      tr
        td
          table.row.row-1(align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #132437;")
            tbody
              tr
                td
                  table.row-content.stack(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-repeat: no-repeat; background-size: auto; background-image: url('https://aa01f56cae.imgdist.com/pub/bfra/8z685kin/ulq/m1d/6ow/e99badd7-ee6c-4773-b8f3-57f6332da9de.jpg'); border-radius: 1px; color: #000000; width: 600px; margin: 0 auto;" width="600")
                    tbody
                      tr
                        td.column.column-1(width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;")
                          table.paragraph_block.block-1(width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;")
                            tr
                              td.pad(style="padding-bottom:20px;padding-left:30px;padding-right:30px;padding-top:20px;")
                                div(style="color:#737487;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;font-size:18px;line-height:180%;text-align:center;mso-line-height-alt:32.4px;") &nbsp;
          table.row.row-2(align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #132437;")
            tbody
              tr
                td
                  table.row-content.stack(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-repeat: no-repeat; background-size: auto; background-image: url('https://d1oco4z2z1fhwp.cloudfront.net/templates/default/4016/blue-glow_3.jpg'); color: #000000; width: 600px; margin: 0 auto;" width="600")
                    tbody
                      tr
                        td.column.column-1(width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;")
                          table.image_block.block-1(width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
                            tr
                              td.pad(style="width:100%;padding-right:0px;padding-left:0px;")
                                div.alignment(align="center" style="line-height:10px")
                                  div.fullWidth(style="max-width: 600px;")
                                    img(src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/4016/top-rounded.png" style="display: block; height: auto; border: 0; width: 100%;" width="600" height="auto")
          table.row.row-3(align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #132437;")
            tbody
              tr
                td
                  table.row-content.stack(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-position: center top; color: #000000; background-color: #ffffff; border-radius: 0; width: 600px; margin: 0 auto;" width="600")
                    tbody
                      tr
                        td.column.column-1(width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 10px; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;")
                          table.image_block.block-1(width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
                            tr
                              td.pad(style="padding-bottom:5px;padding-left:20px;padding-right:20px;padding-top:5px;width:100%;")
                                div.alignment(align="center" style="line-height:10px")
                                  div(style="max-width: 540px;")
                                    img(src="https://aa01f56cae.imgdist.com/pub/bfra/8z685kin/5xw/b7b/bc9/photo-1539768942893-daf53e448371.jpg" style="display: block; height: auto; border: 0; width: 100%;" width="540" alt="book shelf" title="book shelf" height="auto")
          table.row.row-4(align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #132437; background-size: auto;")
            tbody
              tr
                td
                  table.row-content.stack(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-size: auto; background-color: #ffffff; color: #000000; width: 600px; margin: 0 auto;" width="600")
                    tbody
                      tr
                        td.column.column-1(width="100%" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;")
                          table.paragraph_block.block-1(width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;")
                            tbody
                              tr
                                td.pad(style="padding: 30px;")
                                  div(style="text-align: center;")
                                    h1(style="margin: 0; color: #132437; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 24px;") Bienvenue #{name}
                              tr
                                td.pad(style="padding: 15px 30px;")
                                  div(style="text-align: center;")
                                    p(style="margin: 0; color: #737487; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 16px; line-height: 180%;") 
                                      | Vous avez presque terminé votre inscription sur Epytogo ! Cliquez sur le bouton ci-dessous pour activer votre compte et commencer à explorer des restaurants et des hôtels en Égypte.
                              tr
                                td.pad(style="padding: 20px 30px; text-align: center;")
                                  a(href=url style="display: inline-block; padding: 15px 25px; font-family: Arial; font-size: 16px; font-weight: bold; color: #ffffff; background-color: #db6300; border-radius: 5px; text-align: center; text-decoration: none;") Activer votre compte
          table.row.row-5(align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #132437; background-size: auto;")
            tbody
              tr
                td(style="padding: 20px 30px;")
                  div(style="text-align: center; color: #ffffff; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 14px; line-height: 150%;") 
                    p(style="margin: 0;") &nbsp;
